.git
.gitignore
.gitattributes

node_modules
vendor

.env
.env.*
!.env.example

storage/app/public/*
!storage/app/public/.gitignore
storage/certs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

tests
.phpunit.cache
.phpunit.result.cache

.idea
.vscode
.fleet
.nova
.zed

*.md
Homestead.json
Homestead.yaml
